<%- include('../layout/adminheader') %>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div> -->
                    </div>
                </div>
                <% if(typeof product != "undefined" ){ %>
                  <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">

                            <form method="post" action="/gadgetly/admin/edit?id=<%= product._id %>" enctype="multipart/form-data" id='ProductForm'>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="product_name" value="<%=product.productName %>" oninput="validateProductName()">
                                    <span id="errorProductName" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="product_description" ><%=product.productDescription %></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="number" class="form-control" id="product_price" name="product_price"  value="<%=product.productPrice %>" oninput="validateProductPrice()">
                                                <span id="errorProductPrice" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Product Discount</label>
                                            <input placeholder="%" type="number" class="form-control" id="product_discount" name="product_discount" oninput="validateProductDiscount()">
                                            <span id="errorProductDiscount" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" name="product_categoryId">
                                            <option value="<%=product.categoryId %>">same as before</option>
                                        <% if(typeof category != "undefined" && category.length>0 ){
                                            for(let i=0; i<category.length; i++){  %>
                                                <option value="<%= category[i]._id %>" ><%= category[i].categoryName %></option>
                                           <% } 
                                        }else{  %>

                                            <option >not found</option>
                                        <% } %>
                                    </select>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Stock</label>
                                    <input type="number" placeholder="%" class="form-control" id="product_stock" name="product_stock"  value="<%=product.Stock %>"  oninput="validateProductStock()">
                                    <span id="errorProductStock" class="text-danger"></span>
                                </div>
                                
                                <div class="left">
                                    <img src="/admin-assets/imgs/productImages/<%= product.image[0] %>" class="img-sm img-thumbnail" alt="Item">
                                    <img src="/admin-assets/imgs/productImages/<%= product.image[1] %>" class="img-sm img-thumbnail" alt="Item">
                                    <img src="/admin-assets/imgs/productImages/<%= product.image[2] %>" class="img-sm img-thumbnail" alt="Item">
                                    <img src="/admin-assets/imgs/productImages/<%= product.image[3] %>" class="img-sm img-thumbnail" alt="Item">
                                    <img src="/admin-assets/imgs/productImages/<%= product.image[4] %>" class="img-sm img-thumbnail" alt="Item">
                                </div>
                                <div class="input-upload">
                                    <div id="imagePreviewContainer" class="image-preview-container"></div>
                                    <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                   <input class="form-control"  type="file" name="image" multiple accept="image/*" id="imageInput" onchange="handleImageChange()">
                                    <span id="errorProductImage" class="text-danger"></span>
                                </div>
                                <!-- </div>
                                <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Make a template </span>
                                </label>
                                <div> -->
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up" name="submit">Publish</button>
                                </div>
                            </form>
                        </div>
                    </div> <!-- card end// -->
                 </div>  
                <% }else{ %>
                  <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Can't Edit this product</h4>
                        </div>
                        
                    </div> <!-- card end// -->
                  </div>  
                <% } %>
             
                        </div>
                    </div> -->
                     <!-- card end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
        <script>
            function handleImageChange() {
                var input = document.getElementById('imageInput');
                var previewContainer = document.getElementById('imagePreviewContainer');
                var errorSpan = document.getElementById('errorProductImage');
        
                // Reset error message and clear existing previews
                errorSpan.textContent = '';
                previewContainer.innerHTML = '';
        
                if (input.files && input.files.length > 0) {
                    for (var i = 0; i < input.files.length; i++) {
                        var reader = new FileReader();
        
                        reader.onload = function (e) {
                            // Create a new img element for each iteration
                            var imagePreview = document.createElement('img');
                            imagePreview.src = e.target.result;
        
                            // Set the width and height attributes for consistent sizing
                            imagePreview.width = 100; // Set your desired width
                            imagePreview.height = 100; // Set your desired height
                            imagePreview.style.marginRight = '2px';
        
                            // Append the image preview to the container
                            previewContainer.appendChild(imagePreview);
                        };
        
                        // Read the selected image as a data URL
                        reader.readAsDataURL(input.files[i]);
                    }
                } else {
                    // Handle the case where no image is selected
                    previewContainer.innerHTML = '<p>No images selected</p>';
                }
            }
        </script>
    <script>
        function validateProductName(){
            var productname = document.getElementById('product_name').value;
            var errorProductName = document.getElementById('errorProductName');
            errorProductName.innerHTML = ""

            if(productname.trim() === ""){
                errorProductName.innerHTML = "product name required"
            }else if(productname.length<3 || productname.length>15){
                errorProductName.innerHTML = "product name must be between 3 and 15 characters"
            }
        }

        function validateProductPrice(){
            var productPrice =  document.getElementById('product_price').value;
            var errorProductPrice = document.getElementById('errorProductPrice');
            errorProductPrice.innerHTML = ""

            if(productPrice.trim() === ""){
                errorProductPrice.innerHTML = "product price required"
            }

        }

        function validateProductDiscount(){
            var productdiscount = document.getElementById('product_discount').value.trim();
            var errorProductDiscount = document.getElementById('errorProductDiscount');
            errorProductDiscount.innerHTML = ""

            if(productdiscount === ""){
                errorProductDiscount.innerHTML = "product discount required"
            }else if(productdiscount<0 || productdiscount>100){
                errorProductDiscount.innerHTML = "product discount inbetween 1 and 100"
            }
        }

        function validateProductStock(){
            var productStock = document.getElementById('product_stock').value;
            var errorProductStock = document.getElementById('errorProductStock');
            errorProductStock.innerHTML = ""


            if(productStock.trim() === ""){
                errorProductStock.innerHTML = "product stock required"
            }
        }

        function validateProductImage(){
            var productImage = document.getElementById('image').value;
            var errorProductImage = document.getElementById('errorProductImage');
            errorProductImage.innerHTML = ""

            if(productImage.trim() === ""){
                errorProductImage.innerHTML = "product image required"
            }
        }
    </script>
        <script>
            document.addEventListener('DOMContentLoaded',function(){
                productForm = document.getElementById('ProductForm')
                productForm.addEventListener('submit',(event)=>{
                    console.log("productform validartin hitted")
                   const productName = document.getElementById('product_name').value.trim();
                    if(productName === ""){
                        document.getElementById('errorProductName').innerHTML="product name required";
                        event.preventDefault();
                    }else{
                        document.getElementById('errorProductName').innerHTML=""
                    }
                    const productPrice = document.getElementById('product_price').value.trim();
                    if(productPrice === ""){
                        document.getElementById('errorProductPrice').innerHTML="product Price required"
                        event.preventDefault();
                    }else if(productPrice <=0){
                        document.getElementById('errorProductPrice').innerHTML="product Price can't be negative"
                        event.preventDefault();  
                    }else{
                        document.getElementById('errorProductPrice').innerHTML=""
                    }
                    const productdiscount =document.getElementById('product_discount').value.trim();
                if(productdiscount === ""){
                    document.getElementById('errorProductDiscount').innerHTML="product discount required"
                    event.preventDefault();
                }else if(productdiscount <0 || productdiscount >100){
                    document.getElementById('errorProductDiscount').innerHTML="product discount inbetween 1 and 100"
                    event.preventDefault();
                }else{
                    document.getElementById('errorProductDiscount').innerHTML="";
                }
                    const productStock = document.getElementById('product_stock').value.trim();
                    if(productStock === ""){
                        document.getElementById('errorProductStock').innerHTML="product Stock required";
                        event.preventDefault();
                    }else if(productStock <=0){
                        document.getElementById('errorProductStock').innerHTML="product Stock can't be negative";
                        event.preventDefault();
                    }else{
                        document.getElementById('errorProductStock').innerHTML=""
                    }
                })
            })
        </script>
        <%-include('../layout/adminfooter') %>
