<%- include('../layout/adminheader') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <% if(typeof category != "undefined"){ %>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" action="/gadgetly/admin/category_edit?id=<%= category._id %>" id="categoryForm">
                                <div class="mb-4">
                                    <label for="category_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="category_name" name="category_name"  value="<%=category.categoryName%>" oninput="validateCategoryName()"/>
                                    <span class="text-danger" id="errorCategoryName"></span>
                                </div>
                                <div class="mb-4">
                                    <label for="category_slug" class="form-label">Slug</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="category_slug"  name="category_slug"   value="<%=category.categorySlug%>" oninput="validateCategorySlug()"/>
                                    <span class="text-danger" id="errorCategorySlug"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Parent</label>
                                    <select class="form-select" name="category_parent"   value="<%=category.categoryParent%>" >
                                        <option>Clothes</option>
                                        <option>T-Shirts</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="category_description"   >"<%=category.categoryDescription%>"</textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit" value="category Submit">UPDATE</button>
                                </div>
                            </form>
                        </div>
                      </div> <!-- .row // -->
                    </div> <!-- card body .// -->
                </div> <!-- card .// -->
                <% }else{ %>
                  <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Can't Edit this product</h4>
                        </div>
                        
                    </div> <!-- card end// -->
                  </div>  
                <% } %>
            </section> <!-- content-main end// -->

        <script>
            function validateCategoryName(){
                var categoryName = document.getElementById('category_name').value;
                var errorCategoryName = document.getElementById('errorCategoryName');
                errorCategoryName.innerText = "";
    
                if(categoryName.trim() === ""){
                    errorCategoryName.innerHTML = "category name required"
                }else if(categoryName.length<3 || categoryName.length>10){
                    errorCategoryName.innerHTML = "category name must be 3 to 10 characters"
                }else{
                    errorCategoryName.innerHTML = ""
                }
            }
    
            function validateCategorySlug(){
                var categorySlug = document.getElementById('category_slug').value;
                var errorCategorySlug = document.getElementById('errorCategorySlug');
                errorCategorySlug.innerHTML = "";
    
                if(categorySlug.trim() === ""){
                    errorCategorySlug.innerHTML = "category slug required"
                }
            }
        </script>
            <script>
                document.addEventListener('DOMContentLoaded',function(){
                    const categoryForm = document.getElementById('categoryForm')
                    categoryForm.addEventListener('submit',(event)=>{
                        const categoryName = document.getElementById('category_name').value.trim();
                        if(categoryName === ""){
                            document.getElementById('errorCategoryName').innerHTML="category name required";
                            event.preventDefault();
                        }else{
                            document.getElementById('errorCategoryName').innerHTML="";
        
                        }
                        const categorySlug = document.getElementById('category_slug').value.trim();
                        if(categorySlug === ""){
                            document.getElementById('errorCategorySlug').innerHTML = "categorySlug required";
                            event.preventDefault();
                        }else{
                            document.getElementById('errorCategorySlug').innerHTML = "";
                        }
        
                    })
                })
            </script>
<%-include('../layout/adminfooter') %>