<%- include('../layout/adminheader') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span><%= revenue %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%= orderCount %></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= productCount %></span>
                                <span class="text-sm">
                                    In 19 Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span>$6,982</span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3">
                        <label for="charttype">Select Chart Type:</label>
                        <select id="charttype" class="form-control">
                            <option>choose date</option>
                            <option value="month">monthly</option>
                            <option value="year">yearly</option>
                            <option value="daily">daily</option>
                            <option value="total">total</option>
                            <option value="week">weekly</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
            
                    <div class="col-md-6 d-inline-block">
                        <form action="3" method="post">
                                <label for="startDate" class="text-danger ">Start Date:</label>
                                <input type="date" id="startDate" name="startDate" >
                            
                                <label for="endDate" class="text-danger">End Date:</label>
                                <input type="date" id="endDate" name="endDate" >
                                <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
            <canvas id="salesChart" width="400" height="200"></canvas>

        </section> <!-- content-main end// -->
             
<%-include('../layout/adminfooter') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
<script>
    var salesData ;
    var count ;
    document.addEventListener('DOMContentLoaded',()=>{
        console.log('entered dom')
        const typeDropdown=document.getElementById('charttype');
        typeDropdown.addEventListener('change',async()=>{
            console.log('entered change')
            const selectedType = typeDropdown.value;
            const response = await fetch(`/gadgetly/admin/fetchSalesData/?type=${selectedType}`,{
                method:'POST'
            });
            const data = await response.json();
            console.log(data.salesData);
            console.log(data.count)
            if (data.salesData) {
                salesData = data.salesData;

                count = data.count
            // Update chart data
            salesChart.data.labels = ['Totalsale', 'count'];
            salesChart.data.datasets[0].data = [salesData, count];
            salesChart.update();
            }

        })
    })
    document.addEventListener('submit',async(event)=>{
        event.preventDefault();
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;
        let daterange = {
            startDate,
            endDate
        }

        const response = await fetch(`/gadgetly/admin/fetchSalesData/?type=custom`,{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(daterange) 
            });
            const data = await response.json();
            console.log(data.salesData);
            console.log(data.count)
            if (data.salesData) {
                salesData = data.salesData;

                count = data.count
            // Update chart data
            salesChart.data.labels = ['Totalsale', 'count'];
            salesChart.data.datasets[0].data = [salesData, count];
            salesChart.update();
            }

        })

    var ctx = document.getElementById('salesChart').getContext('2d');
var salesChart = new Chart(ctx, {
    type: 'bar', // or 'bar', 'pie', etc. depending on your needs
    data: {
        labels:['Totalsale','count'] , /* Your labels here, e.g., dates */
        datasets: [{
            label: 'Sales',
            data:[salesData,count] ,
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Adjust color as needed
            borderColor: 'rgba(75, 192, 192, 1)', // Adjust color as needed
            borderWidth: 1
        }]
    },
    options: {
        // Add any additional options here, e.g., scales, tooltips, etc.
    }
});

</script>

