<%- include('../layout/adminheader') %>
<section class="pb-15">
  <div class="card mb-4">
    <header>
      <h3 class="card-title p-2">Sales Report</h3>
      <h4 class="p-2"><%= message %></h4>
      <div class="card-header d-flex justify-content-between align-items-center">
       <div>
          <a href="/gadgetly/admin/daily-sales"><button class="btn btn-primary">Daily</button></a>
          <a href="/gadgetly/admin/weekly-sales"><button class="btn btn-primary">Weekly</button></a>
          <a href="/gadgetly/admin/monthly-sales"><button class="btn btn-primary">Monthly</button></a>
          <a href="/gadgetly/admin/yearly-sales"><button class="btn btn-primary">Yearly</button></a>
          <a href="/gadgetly/admin/salesreport"><button class="btn btn-primary">Total</button></a>
          <div class="mt-20">
            <form action="/gadgetly/admin/custom-sales" method="post">
                <label for="startDate" class="text-danger">Start Date:</label>
                <input type="date" id="startDate" name="startDate">
            
                <label for="endDate" class="text-danger">End Date:</label>
                <input type="date" id="endDate" name="endDate">
            
                <button type="submit" >Submit</button>
              </form>
          </div>
       </div>
       <!-- New button fixed to the right end -->
       <div>
        <% if( typeof startDate != "undefined" && typeof endDate != "undefined"){ %>
            <a href="/gadgetly/admin/dowload-report/?type=<%=type%>&startDate=<%=startDate%>&endDate=<%=endDate%>"><button class="btn btn-danger">Dowload Pdf</button></a>
            <a href="/gadgetly/admin/dowload-excel/?type=<%=type%>&startDate=<%=startDate%>&endDate=<%=endDate%>"><button class="btn btn-danger">Dowload Excel</button></a>
        <% }else{ %>
            <a href="/gadgetly/admin/dowload-report/?type=<%=type%>"><button class="btn btn-danger">Dowload Pdf</button></a>
            <a href="/gadgetly/admin/dowload-excel/?type=<%=type%>"><button class="btn btn-danger">Dowload Excel</button></a>
        <% } %>
       

       </div>
      
      </div>
  </header>
  
    <div class="card-body">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-striped align-middle table-nowrap mb-0 table-hover"  id="myTable">
                    <thead class="table-light">
                        <tr>
                            <th class="align-middle" scope="col">Order ID</th>
                            <th class="align-middle" scope="col">Billing Name</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">PrediscountAmount</th>
                            <th class="align-middle" scope="col">CouponDiscount</th>
                            <th class="align-middle" scope="col">Total</th>                            
                            <th class="align-middle" scope="col">Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% if(typeof salesData != "undefined" && salesData.length>0){
                        salesData.forEach((order,index)=>{  %>
                          <tr>
                            <td><a href="#" class="fw-bold"><%= order._id %></a> </td>
                            <td><%= order.userId ? order.userId.name : 'N/A' %></td>
                            <td>
                                <%= order.date.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= order.preDiscountAmount %>
                            </td>
                            <td>
                                <span ><%= order.couponDiscount %></span>
                            </td>
                            <td>
                                <%= order.orderValue %>
                            </td>
                            <td>
                                <%= order.paymentMethod %>
                            </td>
                        </tr>
                       <%})
                      } else{ %>
                        <!-- <tr>
                          <td colspan="4">no orders yet...............</td>
                        </tr> -->
                      <% } %>

                    </tbody>
                </table>
            </div>
        </div> <!-- table-responsive end// -->
    </div>
</div>
<!-- <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <%if(typeof totalPages != "undefined"){
                for(i=1; i<=totalPages; i++){ %>
                    <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li> 
            <% } 
           } %>
        </ul>
    </nav>
</div> -->

</section> <!-- content-main end// -->

<script>
    $(document).ready(function() {
      $('#myTable').DataTable();
  });
</script>

<%-include('../layout/adminfooter') %>