<%- include('../layout/adminheader') %>
<!-- list start ----------------------------------------------------------------------------->
<section class="content-main">
  <div class="content-header">
      <div>
          <h2 class="content-title card-title">Users List </h2>
          <p>Admin can block and unblock users in here</p>
      </div>
      <!-- <div>
          <input type="text" placeholder="Search order ID" class="form-control bg-white">
      </div> -->
  </div>
  <div class="card mb-4">
      <!-- <header class="card-header">
          <div class="row gx-3">
              <div class="col-lg-4 col-md-6 me-auto">
                  <input type="text" placeholder="Search..." class="form-control">
              </div>
              <div class="col-lg-2 col-6 col-md-3">
                  <select class="form-select">
                      <option>Status</option>
                      <option>Active</option>
                      <option>Disabled</option>
                      <option>Show all</option>
                  </select>
              </div>
              <div class="col-lg-2 col-6 col-md-3">
                  <select class="form-select">
                      <option>Show 20</option>
                      <option>Show 30</option>
                      <option>Show 40</option>
                  </select>
              </div>
          </div>
      </header> card-header end// -->
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-hover table-striped" id="myTable">
                  <thead>
                      <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">mobile</th>
                          <th scope="col">verified</th>
                          <th scope="col">Status</th>
                          <!-- <th scope="col">Date</th> -->
                          <th scope="col" class="text-end"> Action </th>
                      </tr>
                  </thead>
                  <tbody>
                    <%if(users.length>0){
                      for(let i=0; i<users.length; i++){ 
                        %>
                        <tr>
                          <td><b><%= users[i].name %></b></td>
                          <td><%= users[i].email %></td>
                          <td><%= users[i].mobile %></td>
                          <% if(users[i].is_verified == 0) {   %>
                            <td><span class="badge rounded-pill alert-warning">not verified</span></td>
                      <% }else{    %>
                            <td><span class="badge rounded-pill alert-success">verified</span></td>
                            <% } %>   


                    <% if(users[i].is_block == 0) {   %>
                          <td><span class="badge rounded-pill alert-success">not blocked</span></td>
                    <% }else{    %>
                          <td><span class="badge rounded-pill alert-warning">blocked</span></td>
                          <% } %>        
                          <!-- <td>03.12.2020</td> -->


                          <td class="text-end">
                    <% if(users[i].is_block == 0) {   %>
                        <a  class="btn btn-md rounded font-sm block-btn"  style="background-color: red;" href='/gadgetly/admin/block?id=<%= users[i]._id %>' userId="<%= users[i]._id %>" >Block</a>
                    <% }else{    %>
                        <a  class="btn btn-md rounded font-sm  unblock-btn"  style="background-color: rgb(10, 149, 8);" href='/gadgetly/admin/unblock?id=<%= users[i]._id %>' userId="<%= users[i]._id %>"  >Unblock</a>
                    <% } %>  
                              
                              <div class="dropdown">
                                  <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" href="#">View detail</a>
                                      <a class="dropdown-item" href="#">Edit info</a>
                                      <a class="dropdown-item text-danger" href="#">Delete</a>
                                  </div>
                              </div> <!-- dropdown //end -->
                          </td>
                        </tr>
                      <%    
                      }

                    }else{  %>
                      <tr>
                        <td colspan="5">Users not found</td>
                      </tr>
                   <% } %>
                      
                  </tbody>
              </table>
          </div> <!-- table-responsive //end -->
      </div> <!-- card-body end// -->
  </div> <!-- card end// -->

</section> <!-- content-main end// -->
<script>
    $(document).ready(function() {
      $('#myTable').DataTable();
  });
</script>

<%-include('../layout/adminfooter') %>