<%- include('../layout/header') %>
    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div> -->
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                        <div class=" text-left mb-25 ">
                            <a href="/addAddress/?checkout=true" class="btn btn-primary">
                                <i class="fas fa-plus"></i> Add Address
                            </a>
                            
                            <a href="/useraddresses/?checkout=true" class="btn btn-secondary">
                                <i class="fas fa-cogs"></i> Manage Address
                            </a>
                            
                        </div>
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                        <% if(address){ %>
                                  
                            <form method="post">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>AddressName <span class="required">*</span></label>
                                        <input required="" class="form-control square" name="addressname" type="text" value="<%= address.addressname %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>name <span class="required">*</span></label>
                                        <input required="" class="form-control square" name="name" type="text"  value="<%= address.name %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>country <span class="required">*</span></label>
                                        <input required="" class="form-control square" name="country" type="text"  value="<%= address.country %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>streetaddress<span class="required">*</span></label>
                                        <input required="" class="form-control square" name="streetaddress" type="text"  value="<%= address.streetaddress %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>city <span class="required">*</span></label>
                                        <input required="" class="form-control square" name="city" type="text" value="<%= address.city %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>state <span class="required">*</span></label>
                                        <input required="" class="form-control square" name="state" type="text"  value="<%= address.state %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Pincode<span class="required">*</span></label>
                                        <input required="" class="form-control square" name="pincode" type="number"  value="<%= address.pincode %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Mobile Number <span class="required">*</span></label>
                                        <input required="" class="form-control square" name="phone" type="number" value="<%= address.phone %>" readonly>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Alter Number<span class="required">*</span></label>
                                        <input required="" class="form-control square" name="alterphone" type="number"  value="<%= address.alterphone %>" readonly>
                                    </div>
                                </div>
                            </form>
                        <% }else{  %>
                            <h4>address not found</h4>
                            <% }  %>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <%  if(cart && typeof cart != "undefined"  && cart.products){
                                            cart.products.forEach(product => { %>
                                                <tr>
                                                    <td class="image product-thumbnail"><img src="/admin-assets/imgs/productImages/<%= product.productId.image[0] %>" alt="#"></td>
                                                    <td>
                                                        <h5><a href="shop-product-full.html"><%= product.productId.productName %></a></h5> <span class="product-qty">x <%= product.quantity %></span>
                                                    </td>
                                                    <td><%= product.total %></td>
                                                </tr>
                                                
                                         <%   })
                                         }else{ %>
                                            <tr>
                                                <td colspan="3">item not found</td>
                                            </tr>
                                        <% } %>
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2"><%= cart.cartSubTotal %></td>
                                        </tr>
                                        <tr>
                                            <th>Coupon Discount</th>
                                            <td colspan="2"><em><%= cart.couponDiscount %></em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900"><%= cart.cartGrandtotal %></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="Cash On Delivery" value="Cash On Delivery">
                                        <label class="form-check-label" for="Cash On Delivery" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash On Delivery</label>
                                        <div class="form-group collapse in" id="bankTranfer">
                                            <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                        </div>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="Online Payment" value="Online Payment">
                                        <label class="form-check-label" for="Online Payment" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Online Payment</label>
                                        <div class="form-group collapse in" id="checkPayment">
                                            <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                        </div>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="Wallet" value="Wallet">
                                        <label class="form-check-label" for="Wallet" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Wallet</label>
                                        <div class="form-group collapse in" id="paypal">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/placeorder?"  id="placeorder" class="btn btn-fill-out btn-block mt-30">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- razor pay  -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    
    <!-- place order and payment -->
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            const placeOrder = document.getElementById('placeorder');
            placeOrder.addEventListener('click',async function(event){
                event.preventDefault()
                var selectedRadioButton = document.querySelector('input[name="payment_option"]:checked');
                console.log(selectedRadioButton)
                if (!selectedRadioButton) {
                   alert("Please select a payment method");
                   return;
                }

                var paymentMethod = selectedRadioButton.value;
                console.log("payment:", paymentMethod);

                const response = await fetch(`/placeorder?paymentmethod=${paymentMethod}`,{
                    method:'POST'
                })
                const data = await response.json();

                if(data.codSuccess){
                    window.location.href = `/ordersummary?orderId=${data.orderId}`
                }
                if(data.walletSuccess){
                    window.location.href = `/ordersummary?orderId=${data.orderId}`
                }
                if(data.insufficientBalance){
                    swal.fire({
                        icon:'error',
                        title:'INSUFFICIENT BALANCE',
                        text:'Please recharge your wallet and try again!'
                    })
            }if(data.noaddress){
                swal.fire({
                    icon:'error',
                    title:'Address Not Found',
                    text:'please add address to place order'
                })
            }
                if(data.order){

                    var options = {
                        "key": "rzp_test_dTVkgmpPZxBcHY", // Enter the Key ID generated from the Dashboard
                        "amount": data.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "GADGETLY PVT LTD",
                        "description": "Test Transaction",
                        "image": "https://example.com/your_logo",
                        "order_id": data.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function (response){
                            console.log(response)
                            console.log(data.order)
                            verifyPayment(response,data.order)
                        },
                        "prefill": {
                            "name": "Gaurav Kumar",
                            "email": "gaurav.kumar@example.com",
                            "contact": "9000090000"
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
            };
            var rzp1 = new window.Razorpay(options);
            rzp1.open();
                            }
                            
                        })
                    })
             async function verifyPayment (payment,order){
                let data = {
                    payment,
                    order
                }
                console.log("entered verify payment function");
                 const response = await fetch('/verifypayment',{
                    method:'POST',
                    headers: {
                         'Content-Type': 'application/json',
    
                     },
                     body: JSON.stringify(data),
                })
                const responseData = await response.json();
                if(responseData.success){
                    window.location.href = `/ordersummary?orderId=${responseData.orderId}`
                    alert('payment successful');
                    console.log('payment successful')
                }else{
                    swal.fire({
                        icon:'error',
                        title:'payment failed',
                        text:'payment has been failed'
                    })
                    alert('payment failed')
                    console.log('payment failed')
                }
            }        
    </script>
<%-include('../layout/footer') %>