<%- include('../layout/header') %>
    <main class="main">
        <section class="pt-20 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                          <h3>Edit Address</h3>
                            <div class="card">
                              <div class="card-header">
                                  <h5>Address</h5>
                              </div>
                              <div class="card-body">
                                  <% if(user && address){ %>
                                  
                                  <form method="post" action="/editaddress/?id=<%= address._id %>" id="addressForm">
                                      <div class="row">
                                          <div class="form-group col-md-12">
                                              <label>AddressName <span class="required">*</span></label>
                                              <input required="" class="form-control square" name="addressname" id="addressName" type="text" value="<%= address.addressname %>">
                                              <span id="errorAddressName" class="text-danger"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>name <span class="required">*</span></label>
                                              <input required="" class="form-control square" name="name" type="text" id="name"  value="<%= address.name %>">
                                              <span class="text-danger" id="errorName"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>country <span class="required">*</span></label>
                                              <input required="" class="form-control square" name="country" type="text" id="country" value="<%= address.country %>">
                                              <span class="text-danger" id="errorCountry"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>streetaddress<span class="required">*</span></label>
                                              <input required="" class="form-control square" name="streetaddress" type="text" id="streetAddress" value="<%= address.streetaddress %>">
                                              <span class="text-danger" id="errorStreetAddress"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>city <span class="required">*</span></label>
                                              <input required="" class="form-control square" name="city" type="text" id="city" value="<%= address.city %>">
                                              <span class="text-danger" id="errorCity"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>state <span class="required">*</span></label>
                                              <input required="" class="form-control square" name="state" type="text" id="state"  value="<%= address.state %>">
                                              <span class="text-danger" id="errorState"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>Pincode<span class="required">*</span></label>
                                              <input required="" class="form-control square" name="pincode" type="number" id="pincode" value="<%= address.pincode %>">
                                              <span class="text-danger" id="errorPincode"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>Mobile Number <span class="required">*</span></label>
                                              <input required="" class="form-control square" name="phone" type="number" id="mobileNumber" value="<%= address.phone %>">
                                              <span class="text-danger" id="errorMobileNumber"></span>
                                          </div>
                                          <div class="form-group col-md-12">
                                              <label>Alter Number<span class="required">*</span></label>
                                              <input required="" class="form-control square" name="alterphone" type="number" id="alterNumber"  value="<%= address.alterphone %>">
                                              <span class="text-danger" id="errorAlterNumber"></span>
                                          </div>

                                          <div class="col-md-12">
                                              <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save Address</button>
                                          </div>
                                      </div>
                                  </form>
                              <% }else{  %>
                                  <h4>address not found</h4>
                                  <% }  %>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </section>
          </main>






                          <!-- footer -->


                          
    <!-- frontend validation for address onsubmit  -->

    <script>
        document.addEventListener('DOMContentLoaded',function(){
            const addressForm = document.getElementById('addressForm');
            addressForm.addEventListener('submit',(event)=>{
                const addressName = document.getElementById('addressName').value.trim();
                if(addressName === ""){
                    document.getElementById('errorAddressName').innerHTML = "addressname required";
                    event.preventDefault()
                }else{
                    document.getElementById('errorAddressName').innerHTML = "";
                }
                const name = document.getElementById('name').value.trim();
                if(name === ""){
                    document.getElementById('errorName').innerHTML = "name is required";
                    event.preventDefault();
                }else{
                    document.getElementById('errorName').innerHTML = "";
                }
                const  country = document.getElementById('country').value.trim();
                if(country === ""){
                    document.getElementById('errorCountry').innerHTML = "country required"
                    event.preventDefault();
                }else{
                    document.getElementById('errorCountry').innerHTML = ""
                }
                const streetAddress = document.getElementById('streetAddress').value.trim();
                if(streetAddress === ""){
                    document.getElementById('errorStreetAddress').innerHTML = "streetaddress required"
                    event.preventDefault();
                }else{
                    document.getElementById('errorStreetAddress').innerHTML = ""
                }
                const state = document.getElementById('state').value.trim();
                if(state === ""){
                    document.getElementById('errorState').innerHTML = "state required";
                    event.preventDefault();
                }else{
                    document.getElementById('errorState').innerHTML = "";
                }
                const city = document.getElementById('city').value.trim();
                if(city === ""){
                    document.getElementById('errorCity').innerHTML = "city required";
                    event.preventDefault();
                }else{
                    document.getElementById('errorCity').innerHTML = "";
                }
                const pincode = document.getElementById('pincode').value.trim();
                if(pincode ===  ""){
                    document.getElementById('errorPincode').innerHTML = "pincode required";
                    event.preventDefault();
                }else if(pincode.length !== 6){
                    document.getElementById('errorPincode').innerHTML = "pincode must be 6 digits";
                    event.preventDefault();
                }else{
                    document.getElementById('errorPincode').innerHTML = "";
                }
                const mobileNumber = document.getElementById('mobileNumber').value.trim();
                const mobileRegex = /^[0-9]{10}$/;
                if(mobileNumber === "" || !mobileRegex.test(mobile)){
                    document.getElementById('errorMobileNumber').innerHTML =  'Enter a valid 10-digit mobile number';
                    event.preventDefault();
                }else{
                    document.getElementById('errorMobileNumber').innerHTML = "";
                }
                const alterNumber = document.getElementById('alterNumber').value.trim();
                if(alterNumber === ""){
                    document.getElementById('errorAlterNumber').innerHTML = "alterNumber required"
                    event.preventDefault();
                }else if(mobileNumber === alterNumber){
                    document.getElementById('errorAlterNumber').innerHTML = "both number can't be same";
                    event.preventDefault(); 
                }else{
                    document.getElementById('errorAlterNumber').innerHTML = ""
                }
            })
        })
    </script>    
<%-include('../layout/footer') %>