<%- include('../layout/header') %>
<main>
<div class="card">
  <div class="card-header">
      <h5 class="mb-0">Your Orders</h5>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table" id="myTable">
              <thead>
                  <tr>
                      <th>Order</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>paymentmethod</th>
                      <th>Total</th>
                      <th>View</th>
                      <th>Dowload</th>

                  </tr>
              </thead>
              <tbody>
                <%  if(typeof orders != "undefined" && orders.length>0){
                      orders.forEach((order,index)=>{  %>

                          <tr>
                              <td><%= order._id %></td>
                              <td><%= order.date.toLocaleDateString()%></td>
                              <%if(order.deliveryStatus == "delivered"){ %>
                                  <td class="text-success"><%= order.deliveryStatus %></td>
                              <% }else if(order.deliveryStatus == "returned" || order.deliveryStatus == "cancelled"){ %>
                                  <td class="text-danger"><%= order.deliveryStatus %></td>
                              <% }else{ %>
                                  <td><%= order.deliveryStatus %></td>
                              <% } %>
                              <td><%= order.paymentMethod %></td>
                              <td><%=order.orderValue %></td>
                              <td><a href="/orderdetails/?orderId=<%= order._id %>" style="background-color: rgb(15, 163, 22) ; color: white;" class="btn btn-small  d-block">View</a>
                              </td>
                              <td><a href="/orderDowloadPdf/?orderId=<%= order._id %>"  style="background-color: rgb(219, 55, 18) ; color: white;" class="btn btn-small d-block">Dowload receipt</a></td>
                          </tr>
                  <%    })
                  }else{ %>

                 <% } %>


              </tbody>
          </table>
      </div>
  </div>
</div>
</main>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable();
});
</script>

<%-include('../layout/footer') %>