<%- include('../layout/header') %>
    <main class="container mt-4">
        <div class="card shadow-lg">
          <header class="card-header bg-primary text-white text-center">
            <h1 class="card-title mb-0">Order Summary</h1>
          </header>
        
          <div class="card-body">
            <section>
              <h2 class="mb-3">Order Information</h2>
              <div class="row mb-3">
                <div class="col-sm-4"><strong>Order ID:</strong></div>
                <div class="col-sm-8"><%= orderData._id %></div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-4"><strong>Order Date:</strong></div>
                <div class="col-sm-8"><%= orderData.date %></div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-4"><strong>Order Value:</strong></div>
                <div class="col-sm-8">$<%= orderData.orderValue.toFixed(2) %></div>
              </div>
              <!-- Add more details as needed -->
            </section>
        
            <section>
                <h2 class="mb-3">Ordered Products</h2>
                <ul class="list-group">
                  <% orderData.products.forEach(function(product) { %>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-sm-4">
                          <img src="/admin-assets/imgs/productImages/<%= product.productImage %>" class="img-sm img-thumbnail" alt="Item" style="height: 100px; width: 100px;">
                        </div>
                        <div class="col-sm-8">
                          <p class="mb-1"><strong>Product ID:</strong> <%= product.productId %></p>
                          <p class="mb-1"><strong>Product Name:</strong> <%= product.productName %></p>
                          <p class="mb-1"><strong>Quantity:</strong> <%= product.quantity %></p>
                          <p class="mb-1"><strong>Product Price:</strong> <%= product.productPrice %></p>
                          <p class="mb-1"><strong>Total:</strong> <%= product.quantity %> x <%= product.productPrice %> = <%= product.total %></p>
                          <!-- Add more product details as needed -->
                        </div>
                      </div>
                    </li>
                  <% }); %>
                </ul>
              </section>
              
        
            <section>
              <h2 class="mb-3">Shipping Address</h2>
              <ul class="list-group">
                  <li class="list-group-item">
                    <p class="mb-1"><strong>Name:</strong><%= orderData.addressDetails.name %></p>
                    <p class="mb-1"><strong>Postcode:</strong><%= orderData.addressDetails.postcode %></p>
                    <p class="mb-1"><strong>Phone:</strong><%= orderData.addressDetails.phone %></p>
                    <p class="mb-1"><strong>Streetaddress:</strong><%= orderData.addressDetails.streetaddress %></p>
                    <p class="mb-1"><strong>City:</strong><%= orderData.addressDetails.city %></p>
                    <p class="mb-1"><strong>State:</strong><%= orderData.addressDetails.state %></p>
                    <p class="mb-1"><strong>Country:</strong><%= orderData.addressDetails.country %></p>
                  </li>
                
              </ul>
            </section>
          </div>

          <div class="container mt-5 mb-10 ">
            <div class="card">
              <div class="card-body bg-light">
                <%if(orderData.deliveryStatus === "delivered"){ %>
                    <form action="/returnorder/?orderId=<%=orderData._id%>" method="post">
                        <div class="form-group">
                          <label for="textArea">Reason for return</label>
                          <textarea class="form-control" id="textArea" rows="4" cols="50"></textarea>
                        </div>
                
                        <button type="submit" class="btn">Return</button>
                      </form>
                <%  }else if(orderData.deliveryStatus === "cancelled"){ %>
                <h4 class="text-danger">Order has been cancelled!</h4>
                <% }else if(orderData.deliveryStatus === "returned"){ %>
                <h4 class="text-danger">Order has been returned!</h4>
                <% }else{ %>
                    <%if(orderData.cancellationStatus === "requested"){ %>
                        <h4>Requested for Cancellation</h4>
                        <p>if admin approves the cancellation the product will be cancelled</p>
                    <% }else if(orderData.cancellationStatus === "denied"){ %> 
                        <h4 class="text-warning">Order cancelling has been denied!!</h4>   
                    <% }else {%>
                        <form action="/cancelorder/?orderId=<%=orderData._id%>" method="post">
                            <div class="form-group">
                              <label for="textArea">Reason for cancellation</label>
                              <textarea class="form-control" id="textArea" rows="4" cols="50"></textarea>
                            </div>
                    
                            <button type="submit" class="btn ">Cancel Order</button>
                          </form>
                    <% }  %>
                    
                <% } %>

              </div>
            </div>
          </div>
        
          <footer class="card-footer text-muted text-center">
            &copy; 2023 Your Company Name
          </footer>
        </div>
      </main>
      <%-include('../layout/footer') %>