<%- include('../layout/header') %>
    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <%if(typeof product != "undefined" && product.length > 0){ %>
                                <p> We found <strong class="text-brand"><%= product.length %></strong> items for you!</p>
                                <% }else{ %>
                                <p> We found <strong class="text-brand">0</strong> items for you!</p>   
                                <% } %>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>       
                                            <li><a href="?sort=lowToHigh">Price: Low to High</a></li>
                                            <li><a href="?sort=highToLow">Price: High to Low</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            <%if(typeof product != "undefined" && product.length > 0){
                                for(let i=0; i<product.length; i++){
                                    %>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/productdetail/?id=<%= product[i]._id %>">
                                                        <img class="default-img" src="/admin-assets/imgs/productImages/<%=product[i].image[0] %>" alt="">
                                                        <img class="hover-img" src="/admin-assets/imgs/productImages/<%=product[i].image[1] %>" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                    <i class="fi-rs-search"></i></a>
                                                    <%if(typeof user != "undefined" && user){ %>
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up wish-btn" productId="<%=product[i]._id %>" href="/addwishlist?id=<%=product[i]._id %>"><i class="fi-rs-heart"></i></a>
                                                    <%}else{ %>
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" productId="<%=product[i]._id %>" href="/login %>"><i class="fi-rs-heart"></i></a>
                                                    <%} %>
                                                    
                                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="/productdetail/?id=<%= product[i]._id %>"><%= product[i].productName %></a></h2>
                                                <div class="product-price">
                                                    <span><%= product[i].salePrice %></span>
                                                    <span class="old-price"> <%= product[i].productPrice %></span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <%if(typeof user != "undefined" && user){ %>
                                                        <a aria-label="Add To Cart" class="action-btn hover-up  cart-btn" href="/addtocart/?id=<%= product[i]._id %>"  productId="<%=product[i]._id%>"><i class="fi-rs-shopping-bag-add"></i></a>
                                                    <% }else{  %>
                                                        <a aria-label="Add To Cart" class="action-btn hover-up " href="/login"  productId="<%=product[i]._id%>"><i class="fi-rs-shopping-bag-add"></i></a>
                                                    <% } %>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            <%   }
                            }else{ %>
                                <h4>no products included</h4>
                            <%} %>
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <% for(j=1; j<=totalCount; j++){ %>
                                        <li class="page-item <% if (currentPage === j) { %>active<% } %>"><a class="page-link" href="?page=<%=j%>&search=<%=search%>&category=<%=categorySearch%>&sort=<%=sort%>"><%=j%></a></li>  
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <% if(typeof category != "undefined" && category.length >0 ){
                                    category.forEach((category)=>{
                                        if(category._id.toString() === categorySearch){ %>
                                            <li><a href="/shop/?category=<%=category._id%>" class="text-success"><strong><%= category.categoryName %></strong></a></li>
                                        <% }else{ %>
                                            <li><a href="/shop/?category=<%=category._id%>"  ><strong><%= category.categoryName %></strong></a></li>
                                        <%} %>
                                        
                                        
                                <%  })                             
                                } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log("dom loaded")
            const addToCartButtons = document.querySelectorAll('.cart-btn');
            console.log("cart button accesssed")
            addToCartButtons.forEach(function (button) {
                button.addEventListener('click', async function (event) {
                    event.preventDefault();
                    const productId = this.getAttribute('productId');
                    console.log('productId', productId);
                    const response = await fetch(`/addtocart/?id=${productId}`, {
                        method: 'GET'
                    });
                    const productData = await response.json();
                    console.log('productdata', productData);
                    if (productData.success) {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                        swal.fire({
                            icon: 'success',
                            title: 'Added to Cart',
                            text: 'The product has been added to the cart'
                        });
                    }
                    else if (productData.outofstock){
                        swal.fire({
                            icon: 'error',
                            title:'Out of Stock',
                            text:'The product is Out of Stock'
                        })
                    }
                });
            });
        });
    </script>

    <!-- add to wish list with sweet alert -->
    <script>
         document.addEventListener('DOMContentLoaded', function () {
            console.log("dom loaded")
            const addToWishlistButtons = document.querySelectorAll('.wish-btn');
            console.log("cart button accesssed")
            addToWishlistButtons.forEach(function (button) {
                button.addEventListener('click', async function (event) {
                    event.preventDefault();
                    const productId = this.getAttribute('productId');
                    console.log('productId', productId);
                    const response = await fetch(`/addwishlist/?id=${productId}`, {
                        method: 'GET'
                    });
                    const productData = await response.json();
                    console.log('productdata', productData);
                    if (productData.success) {
                        console.log("success");                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                        swal.fire({
                            icon: 'success',
                            title: 'Added to Wishlist',
                            text: 'The product has been added to wishlist'
                        });
                    }else{
                        swal.fire({
                            icon: 'failed',
                            title: 'failed to Add to Wishlist',
                            text: 'The product hasnot been added to wishlist'
                        });
                    }
                });
            });
        });
    </script>
    <%-include('../layout/footer') %>